Lab 9 Task 1: Choose any Dataset (csv/json) from Kaggle and apply the following: 
 - Data Loading / Reading
 - Data Exploration

In [1]:

import pandas as pd
df = pd.read_csv('data.csv')
print(df)

# Check dimensions
print("Shape of the dataset:", df.shape)

# Checking detailed information about the dataset
print("Detailed dataset information:")
df.info()

# Check column data types
print("Data types:\n", df.dtypes)

# Display column names
print("Columns:", df.columns.tolist())

# Summary Statisticš
print("Summary statistics:\n", df.describe())

# Missing Values
print("Missing values:\n", df.isnull().sum())

# Unique Values
for col in df.select_dtypes(include='object').columns:
    print(f"Unique values in {col}:\n", df[col].unique())

                date         price  bedrooms  bathrooms  sqft_living  \
0      5/2/2014 0:00  3.130000e+05       3.0       1.50       1340.0
1      5/2/2014 0:00  2.384000e+06       5.0       2.50       3650.0
2      5/2/2014 0:00  3.420000e+05       3.0       2.00       1930.0
3      5/2/2014 0:00  4.200000e+05       3.0       2.25       2000.0
4      5/2/2014 0:00  5.500000e+05       4.0       2.50       1940.0
...              ...           ...       ...        ...          ...
4595   7/9/2014 0:00  3.081667e+05       3.0       1.75       1510.0
4596   7/9/2014 0:00  5.343333e+05       3.0        NaN       1460.0
4597   7/9/2014 0:00  4.169042e+05       3.0        NaN       3010.0
4598  7/10/2014 0:00  2.034000e+05       4.0       2.00       2090.0
4599  7/10/2014 0:00  2.206000e+05       3.0       2.50       1490.0

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
0       7912.0     1.5         0.0   0.0          3      1340.0
1       9050.0     2.0         0.0   4.0          5      3370.0
2      11947.0     1.0         0.0   0.0          4      1930.0
3       8030.0     1.0         0.0   0.0          4      1000.0
4      10500.0     1.0         0.0   0.0          4      1140.0
...        ...     ...         ...   ...        ...         ...
4595    6360.0     1.0         0.0   0.0          4      1510.0
4596    7573.0     2.0         0.0   0.0          3      1460.0
4597    7014.0     2.0         0.0   0.0          3      3010.0
4598    6630.0     1.0         0.0   0.0          3      1070.0
4599    8102.0     2.0         0.0   0.0          4      1490.0

      sqft_basement  yr_built  yr_renovated                    street  \
0               0.0    1955.0          2005      18810 Densmore Ave N
1             280.0    1921.0             0           709 W Blaine St
2               0.0    1966.0             0  26206-26214 143rd Ave SE
3            1000.0    1963.0             0           857 170th Pl NE
4             800.0    1976.0          1992         9105 170th Ave NE
...             ...       ...           ...                       ...
4595            0.0    1954.0          1979            501 N 143rd St
4596            0.0    1983.0          2009          14855 SE 10th Pl
4597            0.0    2009.0             0          759 Ilwaco Pl NE
4598         1020.0    1974.0             0         5148 S Creston St
4599            0.0    1990.0             0         18717 SE 258th St

           city  statezip country
0     Shoreline  WA 98133     USA
1       Seattle  WA 98119     USA
2          Kent  WA 98042     USA
3      Bellevue  WA 98008     USA
4       Redmond  WA 98052     USA
...         ...       ...     ...
4595    Seattle  WA 98133     USA
4596   Bellevue  WA 98007     USA
4597     Renton  WA 98059     USA
4598    Seattle  WA 98178     USA
4599  Covington  WA 98042     USA

[4600 rows x 18 columns]
Shape of the dataset: (4600, 18)
Detailed dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4597 non-null   float64
 2   bedrooms       4595 non-null   float64
 3   bathrooms      4598 non-null   float64
 4   sqft_living    4598 non-null   float64
 5   sqft_lot       4598 non-null   float64
 6   floors         4598 non-null   float64
 7   waterfront     4595 non-null   float64
 8   view           4598 non-null   float64
 9   condition      4600 non-null   int64
 10  sqft_above     4597 non-null   float64
 11  sqft_basement  4597 non-null   float64
 12  yr_built       4594 non-null   float64
 13  yr_renovated   4600 non-null   int64
 14  street         4597 non-null   object
 15  city           4596 non-null   object
 16  statezip       4597 non-null   object
 17  country        4594 non-null   object
dtypes: float64(11), int64(2), object(5)
memory usage: 647.0+ KB
Data types:
 date              object
price            float64
bedrooms         float64
bathrooms        float64
sqft_living      float64
sqft_lot         float64
floors           float64
waterfront       float64
view             float64
condition          int64
sqft_above       float64
sqft_basement    float64
yr_built         float64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object
Columns: ['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city', 'statezip', 'country']
Summary statistics:
               price     bedrooms    bathrooms   sqft_living      sqft_lot  \
count  4.597000e+03  4595.000000  4598.000000   4598.000000  4.598000e+03
mean   5.521190e+05     3.401088     2.160668   2139.498913  1.485607e+04
std    5.639834e+05     0.908983     0.783920    963.387024  3.589177e+04
min    0.000000e+00     0.000000     0.000000    370.000000  6.380000e+02
25%    3.238333e+05     3.000000     1.750000   1460.000000  5.001000e+03
50%    4.610000e+05     3.000000     2.250000   1980.000000  7.683000e+03
75%    6.550000e+05     4.000000     2.500000   2620.000000  1.100375e+04
max    2.659000e+07     9.000000     8.000000  13540.000000  1.074218e+06

            floors   waterfront         view    condition   sqft_above  \
count  4598.000000  4595.000000  4598.000000  4600.000000  4597.000000
mean      1.511853     0.007182     0.240757     3.451739  1827.509463
std       0.537905     0.084449     0.778558     0.677230   862.138540
min       1.000000     0.000000     0.000000     1.000000   370.000000
25%       1.000000     0.000000     0.000000     3.000000  1190.000000
50%       1.500000     0.000000     0.000000     3.000000  1590.000000
75%       2.000000     0.000000     0.000000     4.000000  2300.000000
max       3.500000     1.000000     4.000000     5.000000  9410.000000

       sqft_basement     yr_built  yr_renovated
count    4597.000000  4594.000000   4600.000000
mean      312.122036  1970.799086    808.608261
std       464.228562    29.740666    979.414536
min         0.000000  1900.000000      0.000000
25%         0.000000  1951.000000      0.000000
50%         0.000000  1976.000000      0.000000
75%       610.000000  1997.000000   1999.000000
max      4820.000000  2014.000000   2014.000000
Missing values:
 date             0
price            3
bedrooms         5
bathrooms        2
sqft_living      2
sqft_lot         2
floors           2
waterfront       5
view             2
condition        0
sqft_above       3
sqft_basement    3
yr_built         6
yr_renovated     0
street           3
city             4
statezip         3
country          6
dtype: int64
Unique values in date:
 ['5/2/2014 0:00' '5/3/2014 0:00' '5/4/2014 0:00' '5/5/2014 0:00'
 '5/6/2014 0:00' '5/7/2014 0:00' '5/8/2014 0:00' '5/9/2014 0:00'
 '5/10/2014 0:00' '5/11/2014 0:00' '5/12/2014 0:00' '5/13/2014 0:00'
 '5/14/2014 0:00' '5/15/2014 0:00' '5/16/2014 0:00' '5/17/2014 0:00'
 '5/18/2014 0:00' '5/19/2014 0:00' '5/20/2014 0:00' '5/21/2014 0:00'
 '5/22/2014 0:00' '5/23/2014 0:00' '5/24/2014 0:00' '5/25/2014 0:00'
 '5/26/2014 0:00' '5/27/2014 0:00' '5/28/2014 0:00' '5/29/2014 0:00'
 '5/30/2014 0:00' '5/31/2014 0:00' '6/1/2014 0:00' '6/2/2014 0:00'
 '6/3/2014 0:00' '6/4/2014 0:00' '6/5/2014 0:00' '6/6/2014 0:00'
 '6/7/2014 0:00' '6/8/2014 0:00' '6/9/2014 0:00' '6/10/2014 0:00'
 '6/11/2014 0:00' '6/12/2014 0:00' '6/13/2014 0:00' '6/14/2014 0:00'
 '6/15/2014 0:00' '6/16/2014 0:00' '6/17/2014 0:00' '6/18/2014 0:00'
 '6/19/2014 0:00' '6/20/2014 0:00' '6/21/2014 0:00' '6/22/2014 0:00'
 '6/23/2014 0:00' '6/24/2014 0:00' '6/25/2014 0:00' '6/26/2014 0:00'
 '6/27/2014 0:00' '6/28/2014 0:00' '6/29/2014 0:00' '6/30/2014 0:00'
 '7/1/2014 0:00' '7/2/2014 0:00' '7/3/2014 0:00' '7/4/2014 0:00'
 '7/5/2014 0:00' '7/6/2014 0:00' '7/7/2014 0:00' '7/8/2014 0:00'
 '7/9/2014 0:00' '7/10/2014 0:00']
Unique values in street:
 ['18810 Densmore Ave N' '709 W Blaine St' '26206-26214 143rd Ave SE' ...
 '759 Ilwaco Pl NE' '5148 S Creston St' '18717 SE 258th St']
Unique values in city:
 ['Shoreline' 'Seattle' 'Kent' 'Bellevue' 'Redmond' 'Maple Valley'
 'North Bend' 'Lake Forest Park' 'Sammamish' 'Auburn' 'Des Moines'
 'Bothell' 'Federal Way' 'Kirkland' 'Issaquah' 'Woodinville'
 'Normandy Park' 'Fall City' 'Renton' 'Carnation' 'Snoqualmie' 'Duvall'
 'Burien' 'Covington' 'Inglewood-Finn Hill' 'Kenmore' 'Newcastle'
 'Mercer Island' 'Black Diamond' 'Ravensdale' 'Clyde Hill' 'Algona'
 'Skykomish' 'Tukwila' 'Vashon' 'Yarrow Point' 'SeaTac' 'Medina'
 'Enumclaw' 'Snoqualmie Pass' 'Pacific' 'Beaux Arts Village' 'Preston'
 'Milton' nan]
Unique values in statezip:
 ['WA 98133' 'WA 98119' 'WA 98042' 'WA 98008' 'WA 98052' 'WA 98115'
 'WA 98038' 'WA 98045' 'WA 98155' 'WA 98105' 'WA 98074' 'WA 98106'
 'WA 98007' 'WA 98092' 'WA 98198' 'WA 98006' 'WA 98102' 'WA 98011'
 'WA 98125' 'WA 98003' 'WA 98136' 'WA 98033' 'WA 98029' 'WA 98117'
 'WA 98034' 'WA 98072' 'WA 98023' 'WA 98107' 'WA 98166' 'WA 98116'
 'WA 98024' 'WA 98055' 'WA 98077' 'WA 98027' 'WA 98059' 'WA 98075'
 'WA 98014' 'WA 98065' 'WA 98199' 'WA 98053' 'WA 98058' 'WA 98122'
 'WA 98103' 'WA 98112' 'WA 98005' 'WA 98118' 'WA 98177' 'WA 98004'
 'WA 98019' 'WA 98144' 'WA 98168' 'WA 98001' 'WA 98056' 'WA 98146'
 'WA 98028' 'WA 98148' 'WA 98057' 'WA 98040' 'WA 98010' 'WA 98051'
 'WA 98031' 'WA 98109' 'WA 98030' 'WA 98126' 'WA 98032' 'WA 98178'
 'WA 98288' 'WA 98108' 'WA 98070' 'WA 98188' 'WA 98002' 'WA 98039'
 'WA 98022' 'WA 98068' 'WA 98047' 'WA 98050' 'WA 98354' nan]
Unique values in country:
 ['USA' nan]